body {
    background-image: url("images/background.png");
    background-size: 100%;
    background-repeat:no-repeat;
    background-attachment: fixed;
    font-family: Helvetica, sans-serif, Arial;
}

h1 {
    color: blue;
    text-align: center;
}

.intro {
    width:650px;
    padding:10px;
    margin:15px;
    margin-bottom:30px;
    background: lightblue;
    border-radius:5px;
    box-shadow:5px 8px darkcyan;
    display: block;
    margin: auto;
}

.intro img {
    width: 320px;
    height: 200px;
    border: 2px solid white;
    margin-right: 20px;
    border-radius: 5px;
    display: block;
    margin: auto;
}
.square {
    display: flex;
    flex-wrap: wrap;
}

h2 {
    color: blue;
    text-align: center;
    flex-wrap: wrap;
}

.released {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.subimages {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.hackrelease {
    width:450px;
    padding:10px;
    margin:20px;
    margin-bottom:30px;
    background:lightblue;
    border-radius:5px;
    box-shadow:5px 8px darkcyan;
}

.hackrelease img {
    width: 360px;
    height: 200px;
    border: 2px solid darkslateblue;
    margin-right: 10px;
    border-radius: 5px;
    display: block;
    margin: auto;
}

.hackreleasebig {
    width:1950px;
    padding:10px;
    margin:25px;
    margin-bottom:30px;
    background:lightblue;
    border-radius:5px;
    box-shadow:5px 8px darkcyan;
    margin-left:auto;
    margin-right: auto;
}

.miniimage {
    width:360px;
    padding:10px;
    margin:15px;
    margin-bottom:30px;
    background:lightblue;
    border-radius:5px;
    box-shadow:5px 8px darkcyan;
}

.miniimage img {
    width: 340px;
    height: 200px;
    border: 2px solid darkslateblue;
    margin-right: 10px;
    border-radius: 5px;
    display: block;
    margin: auto;
}


.bigreleasemainimage img {
    width: 720px;
    height: 400px;
    border: 2px solid darkslateblue;
    margin-right: 10px;
    border-radius: 5px;
    display: block;
    margin: auto;
}

.download {
    padding:2px;
    background:white;
    border-radius:5px;
    box-shadow:5px 8px lightslategray;
}

.download2 {
    padding:2px;
    background:white;
    border-radius:5px;
    width: 300px;
    justify-self: center;
    box-shadow:5px 8px lightslategray;
}

.description {
    height: 120px;
}

p {
    text-align: center;
    font-weight: 700;
}